@import url('https://fonts.googleapis.com/css?family=Muli');

body{
	background-color: #8e8e8e;
	margin: 0;
}
.container{
	margin:0px 40px 0px 40px;
}
.container1{
	background-color: #ffffff;
	margin:0px 40px 0px 40px;
	padding: 10px 40px 10px 40px;
	font-family: 'Muli', sans-serif;
}
.container1 img.foto{
	border-radius: 50%;
	border:3px solid #8e8e8e;
	width: 100px;
}
.container1 img{
	width: 50%;
	transition: 3s;
}
.container1 img:hover{
	width: 100%;
}
.container1 table {
    border-collapse: collapse;
}
.kotak40{
	width: 40%;
	float:left;
	margin: 0;
	padding: 0; 
}
.kotak40 p{
	margin: 0;
	text-indent: 20px;
}
.kotak20{
	width: 20%;
	float:left;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-align: center;
}
.kotak25{
	width: 25%;
	float: left;
	background-color: #ffffff;
	margin:0;
	padding:0;
}
.potong{
	clear: both;
}
.header{
	padding: 10px 40px 10px 40px;
	font-family: 'Muli', sans-serif;
	background-color: #ffffff;
}
.header h1{
	margin-bottom: -15px;
}
.header ul.navbar {
          list-style-type: none;
          margin-bottom: 0px;
          padding: 0;
          overflow: hidden;
          background-color: rgba(0,0,0,0.7);
          width: 100%;
          font-family: 'Muli', sans-serif;
}
.header ul.navbar li {
      	float: left;
      	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.header ul.navbar li:hover:not(.active) {
	background-color: #111;
}
.header ul.navbar li.active {
	background-color: #a00000;
}
li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.footer{
	padding: 10px 40px 10px 40px;
	font-family: 'Muli', sans-serif;
	background-color: #ffffff;	
}